@import url('root.css');
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html,body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark_purle);
  color: white;
}
